.DS_Store
node_modules
/build
/.svelte-kit
/.vscode
/.codebuddy
.idea/
.cache/
dist/
coverage/
test_logs/
/package
/tbuddy_release
/tbuddy_test
/tbuddy_secure
/sbuddy_release
/sbuddy_test
/sbuddy_secure

.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vs
.vs.*

*.log
*.txt

text_list/data

sbuddy-crypto/
sbuddy-crypto.exe
mod-tool/sbuddy-crypto.exe